<div class="todo-content">
<h1>To do</h1>

<input type="text" placeholder="Add something" [(ngModel)]="newTask" />
<button class="add-button" (click)="addTask()">Add</button>

<ul class="app-list">
  <li class="item" *ngFor="let task of tasks">
    <input class="checkbox" type="checkbox">
    <span class="main-texts" *ngIf="!task.editing"> {{ task.title }} </span>
    <input class="editer" *ngIf="task.editing" type="text" [(ngModel)]="task.title" /><br>
    <div class="modif-buttons">
    <button class="edit-button" (click)="editTask(task)">{{task.editing ? "Done" : "Edit"}}</button>
    <button class="delete-button" [style.display]="task.editing ? 'none' : 'inline' " (click)="deleteTask(task)">Delete</button>
  </div>
  </li>
</ul>
</div>