<h1>Task Killer</h1>

<input type="text" placeholder="Add something" [(ngModel)]="newTask" />
<button (click)="addTask()">Add</button>

<ul>
  <li *ngFor="let task of tasks">
    <span *ngIf="!task.editing"> {{ task.title }} </span>
    <input *ngIf="task.editing" type="text" [(ngModel)]="task.title" />
    <button (click)="editTask(task)">{{task.editing ? "Done" : "Edit"}}</button>
    <button [style.display]="task.editing ? 'none' : 'inline' " (click)="deleteTask(task)">Delete</button>
  </li>
</ul>
