
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-size: x-small;
  }

  .toolbar img {
    margin: 0 5px;
  }

  .toolbar #home-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #list-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #todos-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #list-logo:hover,
  .toolbar #todos-logo:hover,
  .toolbar #home-logo:hover {
    opacity: 0.8;
  }
  .spacer {
    flex: 5;
    padding: 20px;
  }
  