
.toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-size: medium;
    margin: 0;
  }

  .toolbar img {
    margin: 0 5px;
  }

  .toolbar #home-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #list-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #todos-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #about-logo {
    height: 40px;
    margin: 0 10px;
  }

  .toolbar #contact-logo {
    height: 40px;
    margin: 0 10px;
  }


  .toolbar #list-logo:hover,
  .toolbar #todos-logo:hover,
  .toolbar #home-logo:hover,
  .toolbar #about-logo:hover,
  .toolbar #contact-logo:hover {
    opacity: 0.3;

      transition: color #495356 0.2s ease;
    }

  .spacer {
    flex: 5;
    padding: 20px;
  }

  @media only screen and (max-width: 600px) {
      .toolbar {
        flex-direction: column;
        align-items: flex-end;
        color: #1976d2;
        height: 85px;
      }

      .toolbar > :first-child {
        align-items: flex-start;
      }
      

      .welcome-message {
        display: none;
    }

    p {
      display: none;
    }

    a {
      display: flex;
      margin-right: 10px;
      margin-bottom: 20px;
    }

    .scroll-logo {
      margin-right: 13px;
    }

    .spacer {
      padding: 0;
      margin-top: 15px;
    }
  }

  