<h1 class="title">Contact Us</h1>
<form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name: </label>
    <input type="text" id="firstName" formControlName="firstName">
    <div *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched">
        <span class="error">First name is required.</span>
    </div>

    <label for="email">Email: </label>
    <input type="text" id="email" formControlName="email">
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('firstName')?.touched">
        <span class="error">Invalid email.</span>
    </div>

    <label for="message">Message: </label>
    <textarea id="message" formControlName="message"></textarea>
    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('firstName')?.touched">
        <span class="error">Please leave a message.</span>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
</form>

<div *ngIf="submitted">
    <p>Thank you for your message!</p>
</div>

