<h1>About</h1>
<p>
  Task Killer is a killer todo app helping you get all of your doing needs done.
  Our project was created during our time studying Angular with the Wild Code
  School in Lille France. Feel free to contact us and visit our LinkedIn/GitHUB
  pages. Have a great day!
</p>
<div class="cards">
<div class="tyler-card">
<img src="/assets/tyler.jpeg" alt="tyler" width="300px"/>
</div>
<div class="arturo-card">
    <img src="/assets/arturo.jpeg" alt="arturo" width="300px"/>
</div>
</div>
